extends layout

include mixins/_polyanno

block content
  .container-fluid

    .row
      .col-md-6
        //- pre= h.dump(data)
        #polyannoDiv
          +polyanno()
        p
          button#savePolyanno.btn.btn-lg.btn-default.center(type='button') Save
      .col-md-6#uvCol
        .uv(
          data-locale='en-GB:English (GB),cy-GB:Cymraeg', 
          data-config= '/config/uv-config.json',
          data-uri='http://images.is.ed.ac.uk/luna/servlet/iiif/m/UoEsha~4~4~65346~164252/manifest', 
          data-sequenceindex='0', 
          data-canvasindex='0', 
          data-zoom='-0.3778,0,1.7556,1.3791', 
          data-rotation='0', 
          style='display:block; width:100%; height:100%; background-color: #fff'
          )
        script#embedUV(type='text/javascript', src='/lib/embed.js')


block script
  script#tes(type='text/javascript', src='/javascripts/utils.js')

  script.
   

  script.
